body {
	background: #fff;
	font: 15px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 50px 0;
	margin-bottom: 100px;
}
em {
	color: #999;
}
p {
	line-height: 1.4;
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
.item {
	margin-bottom: 1em;
}
#resume {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 20px;
}
#basics {
	margin-bottom: -10px;
}
#basics h3 {
	margin-top: 1.5em;
}
#basics .contact strong,
#location strong {
	clear: both;
	float: left;
	line-height: 1.3;
	width: 120px;
}
#profiles,
#skills {
	overflow: hidden;
}
#profiles .item,
#skills .item {
	float: left;
	width: 50%;
}

.nav-add {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid #999;
	background-color: #fff;
}

.nav-add {
	padding: 7px;
}

.nav-add img {
	height: 20px;
}

.nav-add:hover {
	fill: grey;
	color: grey;
	border-color: grey;
}

.content {
	position: relative;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
}

.item-nav {
	width: 25px;
	position: absolute;
	top: 0;
	right: -25px;
	display: none;
}

.item-nav-item {
	cursor: pointer;
	margin-top: 5px;
}

.item-nav-item:last {
	margin-bottom: 5px;
}

.item-nav-item:hover {
	color: grey;
	fill: grey;
}

.item-nav-item img {
	height: 20px;
}

.content:hover .item-nav {
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
}

.content:hover {
	background-color: aliceblue;
	-webkit-transition: all 0.2s 0s ease, all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease, all 0.2s 0s ease;
	-o-transition: all 0.2s 0s ease, all 0.2s 0s ease;
	transition: all 0.2s 0s ease, all 0.2s 0s ease;
}

body.WEB .item-nav-item,
body.MOBILE .item-nav-item,
body.PRINT .item-nav-item {
	display: none;
}

body.WEB .nav-add,
body.MOBILE .nav-add,
body.PRINT .nav-add {
	display: none;
}

body.WEB .content:hover,
body.MOBILE .content:hover,
body.PRINT .content:hover {
	background-color: inherit;
}